@import url('https://fonts.googleapis.com/css2?family=Acme&family=Arbutus&family=Caveat&family=Courgette&family=Exo:wght@500&family=Lobster+Two&family=Poppins:wght@200;400&family=Rajdhani:wght@600&family=Righteous&family=Source+Serif+Pro:wght@600&family=Srisakdi:wght@400;700&family=Tourney:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.section {
    opacity: 0;
    transform: scale(0.1);
    transition: all 1s ease-in-out;
}

.section1 {
    opacity: 0;
    transform: scale(0.1);
    transition: all 1s ease-in-out;
}

.section2 {
    opacity: 0;
    transform: scale(0.1);
    transition: all 1s ease-in-out;
}

.active {
    opacity: 1;
    transform: scale(1.0);
}

body {
    overflow-x: hidden;
}

html {
    font-family: 'Poppin', sans-serif;
    background: whitesmoke;
}

#header {
    background-color: whitesmoke;
    position: relative;
    height: 90px;
}

#footer {
    min-height: 14rem;
    min-width: 100vw;
    display: flex;
    background-color: rgb(169, 167, 167);
    backdrop-filter: blur(10px);
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}



.footer-div {
    display: flex;
    flex-direction: column;
    line-height: 0;
    align-items: center;
}

.main-section {
    height: 90vh;
    width: 90vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
}

.landing-page{
    position: absolute;
    background-color: white;
    height: 88vh;
    width: 90vw;
    background: url(medias/studio1.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    z-index: 0;
    margin: 0 72px;
    background-position: bottom;

}
.landing-pageHide{
    opacity: 0;
    scale: 0.1;
    transform: translateY(100rem);
    transition: all 0.5s ease-in;
}
.landing-heading {
    font-size: 2em;
    text-align: -webkit-left;
    color: #000000dc;
    position: absolute;
    word-spacing: 15px;
    width: 46vw;
    letter-spacing: 18px;
    display: flex;
    line-height: 2;
    top: 18%;
    left: 27px;
}
.brand-name{
    font-size: 3rem;
    text-align: -webkit-left;
    font-family: 'tourney';
    letter-spacing: 8px;
    font-weight: 600;
    word-spacing: 17px;
    position: absolute;
    top: 40%;
    left: 2%;
}

.sub-section {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;

}

.sub-section2 {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
}

h2 {
    font-size: 19px;
    font-weight: 100;
    font-family: system-ui;
    text-align: center;
}

p {
    font-family: system-ui;
    color: black;
    font-size: larger;
    margin: 50px 54px;
    font-weight: 400;
    text-align: justify;
}

svg {
    color: rgb(0, 0, 0);
    margin: 11px auto;
    height: 35px;
    width: auto;
}

p2 {
    font-family: 'poppin', sans-serif;
    color: black;
    font-size: 12px;
    margin: 13px 7px;
    font-weight: 100;
    text-align: justify;
    letter-spacing: 1px;
}

.p-2 {
    font-family: 'Poppin', sans-serif;
    color: black;
    font-size: 10px;
    margin: 23px 8px;
    font-weight: 500;
    text-align: justify;
}

nav .logo {
    height: 3rem;
    width: auto;
}

nav {
    min-width: 100vw;
    display: flex;
    position: absolute;
    height: inherit;
    top: 0;
    left: 0;
    padding: 1.5rem 2rem;
    align-items: center;
    justify-content: space-between;

}

.menu-icon {
    display: none;
    width: 20px;
}

nav ul li {
    list-style-type: none;
    display: inline-flex;
    justify-content: space-around;
    padding: 0 2rem;

}

nav ul li a {
    text-decoration: none;
    color: rgb(0 0 0 / 75%);
    font-weight: 500;
    font-size: 14px;
    transition: 1s;
}

nav ul li a:hover {
    transform: translateX(10px);
    color: black;
    font-size: 15px;
    font-weight: 600;
}

.name-title {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* margin: auto; */
    position: absolute;
    top: 20%;
    left: 3%;
}

.name-title h1 {
    color: rgb(0 0 0 / 82%);
    text-align: center;
    font-weight: 600;
    font-size: 21px;
    letter-spacing: 3px;
}

.name-title h1:hover {
    -webkit-text-stroke: 2px black;
    color: transparent;
}

.button {
    height: 2rem;
    border: 2px solid orangered;
    background: none;
    display: flex;
    width: 10rem;
    position: relative;
    bottom: 17rem;
    text-align: center;
    justify-content: center;
}

.back-video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(10px);
}

.back-video2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.back-video3 {
    position: relative;
    top: 0;
    left: 0;
    z-index: -1;
}



.appear {
    opacity: 1;
}



@media(min-aspect-ratio:16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }

    .back-video2 {
        width: 100%;
        height: auto;
    }


}

@media(max-aspect-ratio:16/9) {
    .back-video {
        width: auto;
        height: 100%
    }
}

@media(min-aspect-ratio:9/16) {
    .back-video3 {
        height: 78%;
        margin: 25% 0;
        width: auto;
    }
}

@media screen and (max-width:800px) {

    .back-video {
        width: 200%;
        height: 100%;
    }

    .sub-section {
        margin: 20px 0px;
    }

    .sub-section2 {
        display: flex;
        height: 100vh;
        width: 100vw;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: flex-start;
        position: relative;
        bottom: 10rem;
    }

    #footer{
        flex-direction:column;
    }
    .name-title h1 {
        color: rgb(0 0 0 / 82%);
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 3px;
    }

    .p-2 {
        font-family: 'Poppin', sans-serif;
        color: black;
        font-size: 10px;
        margin: 25px 0;
        font-weight: 600;
        text-align: justify;
    }

    .name-title {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 9%;
        left: 3%;
    }

    .back-video2 {
        width: 206%;
        height: 68%;
        transform: translateX(-90px);
        overflow: overlay;
    }

    .back-video3 {
        height: 79%;
        margin: 10% 0;
        width: auto;
    }

    .landing-page {
        position: absolute;
        background-color: white;
        height: 90vh;
        width: 100vw;
        background: url(medias/studio1.jpg);
        background-size: cover;
        display: flex;
        align-items: center;
        z-index: 0;
        margin: 0 ;
        background-position: bottom;
    }

    .landing-heading {
        font-size: 2em;
        text-align: -webkit-left;
        font-family: '';
        color: #000000;
        position: absolute;
        word-spacing: 15px;
        width: 267px;
        letter-spacing: 2px;
        display: flex;
        /* margin: auto; */
        line-height: 1.5;
        top: 18%;
        left: 22px;
    }

    .brand-name {
        font-size: 1.64rem;
        text-align: -webkit-left;
        font-family: 'tourney';
        letter-spacing: 8px;
        font-weight: 600;
        word-spacing: 17px;
        position: absolute;
        top: 35%;
        left: 2%;
    }

    p {
        margin: 0px 15px;
        font-size: 15px;
    }

    nav {
        display: flex;
    }

    nav ul {
        position: fixed;
        text-align: center;
        left: 5%;
        bottom: 0;
        width: 90%;
        overflow: hidden;
        transition: 1.0s;
        height: 80vh;
        background: aliceblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;

    }

    nav ul li {
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 50px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
    }

    svg {
        color: rgb(0, 0, 0);
        margin: 10px 25px;
        height: 35px;
        width: auto;
    }

    .footer-contact{
        display: flex;
        flex-direction: row;
        margin: 15px;
    }

}
